# Core dependencies
pandas
numpy
PyYAML
python-dotenv
packaging
tqdm
pathvalidate
pytz

# Visualization and UI
streamlit
plotly
matplotlib
seaborn
imageio
pillow
moviepy
ipywidgets
statannot

# Neuroimaging
nibabel
nilearn
scikit-image

# Flywheel SDK
flywheel
flywheel-sdk

# Jupyter/IPython
ipython
