# Core dependencies
pandas
numpy
PyYAML
python-dotenv
packaging
tqdm
pathvalidate
pytz

# Visualization and UI
streamlit>=1.20.0
plotly
matplotlib
seaborn
imageio
pillow
moviepy==1.0.3
ipywidgets
statannot
altair<5

# Neuroimaging
nibabel
nilearn
scikit-image

# Flywheel SDK
flywheel
flywheel-sdk
fw-client

# Jupyter/IPython
ipython
